DB_URI="mongodb://url-shortener-db:27017/db"
DB_HOST_PORT=27017
DB_DOCKER_PORT=27017
TEST_DB_URI="mongodb://url-shortener-testdb:27018/test-db"
TEST_DB_HOST_PORT=27018
TEST_DB_DOCKER_PORT=27017

APP_HOST_PORT=8081
APP_DOCKER_PORT=8080
